<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36225708648-ssdn88edq5ol66ap7jho3koq6ui2oiv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36225708648-ssdn88edq5ol66ap7jho3koq6ui2oiv7</string>
	<key>API_KEY</key>
	<string>AIzaSyCodfTMiORjz848UPagKhrGARiVo-NkU3U</string>
	<key>GCM_SENDER_ID</key>
	<string>36225708648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticketGenerator</string>
	<key>PROJECT_ID</key>
	<string>gerenciador-de-senhas-58ed9</string>
	<key>STORAGE_BUCKET</key>
	<string>gerenciador-de-senhas-58ed9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36225708648:ios:ef18b09f83f3eede9941dd</string>
</dict>
</plist>